.insecticide {
	padding-top: 20px;
	/*padding-left: 30px;*/
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.insecticide h1 {
	padding: 30px 0px;
	font-size: 2em;
}

.offers1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 20px 20px 20px;
	justify-content: space-around;
	margin-top: 4vh;
}

.checked {
	color: orange;
	margin-bottom: 10px;
}

.today span {
	margin: 3px;
}

.today {
	width: 320px;
	min-height: 450px;
	background-color: rgb(255, 255, 255);
	padding: 30px 0px 30px 0px;
	margin-bottom: 40px;
	border-radius: 5px;
	border: 1px solid rgb(183, 183, 183);
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left:3vw;
}

.today:hover {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	position: relative;
	z-index: 1;
	transition: transform 0.5s ease-in-out;
	transform: scale(1.02);
}

.today a {
	text-decoration: none;
	color: black;
}

.today img {
	width: 250px;
	height: 280px;
	border-radius: 0px;
	margin-bottom: 20px;
}

.price, .price11 {
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding: 10px 0px;
}

.price h4 {
	font-size: 21px;
	color: rgb(10, 95, 10)
}

.pricecontain {
	border-bottom: 2px solid green;
	/* border-top: 2px solid green; */
}

.price11 del {
	font-size: 19px;
	color: rgb(96, 8, 56);
	font-weight: bold;
}

.today h3 {
	font-size: 21px;
}

.div_save {
	padding: 15px 0px 0px 0px;
}

.today p {
	font-size: 19px;
	padding: 5px 20px 20px 20px;
	width: 280px;
	font-weight: bold;
	display: flex;
	text-align: center;
	justify-content: center;
	min-height: 80px;
	color: rgb(115, 1, 45);
}

/* ---------==============Media quary start=================------------- 
-------------
-------------
----------
--------
-----
--
-----=======================*/
@media screen and (max-width:700px ) {
	.insecticide h1 {
		padding: 30px 20px 10px 20px;
		font-size: 13px;
		background-color: rgb(254, 238, 238);
		width: 100vw;
		text-align: center;
	}
	.insecticide {
		padding-top: 0;
		padding-left: 0px;
		padding-bottom: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.offers1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px 10px 50px 10px;
		justify-content: space-around;
		background-color: rgb(254, 238, 238);
	}
	.today img {
		width: 100px;
		height: 120px;
		border-radius: 0px;
		margin-bottom: 10px;
	}
	.today {
		width: 170px;
		min-height: 200px;
		margin-left: 0;
		padding: 15px 0px 15px 0px;
		margin-bottom: 20px;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px
			6px;
	}
	.today h3 {
		font-size: 14px;
	}
	.today h3 .fa-inr {
		width: 5px;
		height: 5px;
		A padding-right: 10px;
		padding-left: 2px;
	}
	.today p {
		font-size: 11px;
		padding: 5px 25px 10px 25px;
		width: 170px;
		font-weight: bold;
		display: flex;
		text-align: center;
		justify-content: center;
	}
	.star .fa-star {
		width: 20px;
		height: 10px;
	}
	.price h2 .fa-inr {
		width: 2px;
		height: 2px;
		padding-right: 12px;
	}
	.price del {
		font-size: 15px;
		color: green;
	}
	.price del .fa-inr {
		width: 2px;
		height: 2px;
		padding-right: 8px;
	}
	.price h2 {
		font-size: 17px;
		margin-right: 6px;
	}
}